# Kopeeri see failiks .env ja täida väärtused
# Mitte kunagi pane päris väärtusi siia faili!

PG_USER=
PG_PASSWORD=
PG_DATABASE=
PG_HOST=
PG_PORT=25060

AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_ID=
