# Kopeeri see failiks .env ja täida väärtused
# Mitte kunagi pane päris väärtusi siia faili!

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=25060

AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_ID=
